<div align="center">
<h2>Courses</h2>
<style>
    table {
        background-color: rgba(150, 212, 212, 0.4);
        font-size: large;
    }
    button{
        margin-bottom: 5px;
        color: coral;
        font-size: large;
    }

</style>

  <a href="<%=create_course_path %>" > <button> Add Course </button> </a>

<table border="2px blue solid">


  <thead>
  <tr>
    <th>Course code</th>
    <th>Course Title</th>
    <th>Course Credit</th>
    <th>Semester</th>
    <th>Department</th>
    <th>Teacher</th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%=course.course_code %></td>
      <td><%=course.course_title %></td>
      <td><%=course.course_credit %></td>
      <td><%=course.semester %></td>
      <td><%=course.department.name %></td>
      <td><%=course.teacher.name %></td>
      <td><a href="<%=details_course_path(course) %>"> show</a></td>
      <td><a href="<%=show_course_path(course) %>"> Edit</a></td>
      <td><a href="<%=delete_course_path(course) %>"> Delete</a></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>